<%- include('./headers'); %>

<div class="login-container">
  <label for="">Name</label>
  <input id="name" type="text" />

  <label for="">Password</label>
  <input id="password" type="password" />

  <button id="submit">Masuk</button>
</div>
<script src="script/script.js"></script>
