html , body {
  margin : 0
}


.login-container{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin:auto;
  margin-top: 100px;
}

.login-container > button {
  justify-items: flex-end;
  cursor: pointer;
}

.login-container > input {
  margin-top: 10px;
  margin-bottom: 10px;
}





.main {
  background-image: url("../image/main.jpg");
  background-size: 1540px;
  height: 960.14px;
  width: 1440px;
    }
    .navbar {
      border: 1px black solid;
      background: rgba(0, 0, 0, 0.5);
      height: 90px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .left-item {
      border: 1px ;
      order: 0;
      margin-right: 40px;
      margin-top: 2pc;
    }
    .right-item {
      border: 1px ;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 150px;
      order: 3;
      margin-top: 2pc;
    }
    .center-item {
      border: 1px ;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      order: 2;
      width: 400px;
      margin-right: 40px;
      margin-top: 2pc;
    }
.logo{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
} 
.menu1{
  font-family: 'Open Sans';
  color: #FFFFFF;
  font-size: 12px;
}
.conten1-1{
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 213px;
}
.conten1-2{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.conten2-1{
  border: 1px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}
.conten2-2{
  font-family: 'Arial';
  font-style: normal;
  font-size: 12px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.buttonmain1-1{
  border: 1px ;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}

.contenmain {
  border: 1px ;
  height: 860.14px;
  
 }
 .down-button1{
  border: 1px ;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 19pc;
}
.down-button2{ 
font-family: 'Open Sans';
font-style: normal;
font-weight: bold 700;
font-size: 12px;
line-height: 22px;
text-align: justify;
text-transform: uppercase;
color: #FFFFFF;
}
.gallery {
background-image: url("../image/the-games-bg.jpg");
background-size: 1440px;
height: 960.14px;
width: 1440px;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: left;
align-items: left;
  }
.g1{
  font-family: 'Open Sans';
  color: white;
  padding-top: 15pc;
  padding-left: 4pc;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 2px;
}
.g2{
  font-family: 'Open Sans';
  color: white;
  margin-top: 15px;
  margin-left: 4pc;
  font-size: 56px;
  letter-spacing: 3px;
}
.picture-gallery{
  width: 758px;
  height: 477px;
  left: 453px;
  top: 318.7px;
  background-image: url("../image/rockpaperstrategy-1600.jpg");
  margin-top: 20pc;
  background-size:950px;
}
  .imgroll1{
    margin-top: 58%;
    margin-left: 35%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
  }
  .imgroll2{
    margin-top: 58%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
  }
  .switch{
    width: 20px;
    height: 28px;
    margin-top: 35%;
    margin-right: 8px;
  }
  .switch2{
    width: 20px;
    height: 28px;
    margin-top: 35%;
    margin-left: 8px;
    margin-right: 11pc;
  }
.features{
background-image: url("../image/features.jpg");
background-size: 1441px;
width: 1441.62px;
height: 870.26px;
}
.contenfeatures1{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;
color: #FFFFFF;
padding-top: 15%;
margin-left: 57%;
}
.contenfeatures2{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF;
margin-left: 57%;
}
.contenfeatures3{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 2px;
margin-top: 5%;
color: #FFB548;  
margin-left: 36%;
}
.contenfeatures4{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: justify;
color: #FFFFFF;
margin-left: 58%;
margin-right: 17%;
}
.contenfeatures5{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;
color: #FFB548;
margin-left: 57%;
margin-top: 5%;
}.contenfeatures6{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;
color: #FFB548;
margin-left: 57%;
margin-top: 5%;
}
.Ellipse1{
margin-right: 30px;
}
.Ellipse2{
margin-right: 30px;
}
.progress-ba{
height: 0px;
left: 802.42px;
border: 1.95955px solid #FFFFFF;
transform: rotate(90deg);
}
.requirements{
background-image: url("../image/requirements.jpg");
background-size: 1441px;
width: 1441.62px;
height: 870.26px;
}
.conten-requirements1{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding-top: 10%;
}.conten-requirements2{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 5%;
  margin-right: 50%;
  margin-left: 11%;
}

.container {
  display: grid;
  width: 100%;
  max-width: 50px;
  margin: 10 auto;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1px;
}
.container div {
  color: white;
  font-size: 20px;
  padding: 20px;
  border: 1px solid rgb(248, 245, 245);
  }
.boxitem-1 {
grid-column: 1/3;
}
.boxitem-2 {
  grid-column: 3/5;
}
.boxitem-3 {
  grid-column: 1/5;
}
.conten-requirements3{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFB548;

}
.conten-requirements4{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.top-scores{
background-image: url("../image/top-scores.jpg");
background-size: 1441px;
width: 1441.62px;
height: 870.26px;
}
.grid-1 {
display: grid;
width: 100%;
max-width: 90%;
margin: 0 auto;
grid-template-columns: repeat(2, 1fr);
grid-gap: 20px;
}
.grid-1 div {
color: white;
font-size: 20px;
padding: 20px;
margin-top: 1%;
}

.item-1 {
grid-row: 1/30;
}
.item-2 {
grid-row: 1/40;
}
.top-scores-requirements1{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
letter-spacing: 3px;
text-transform: uppercase;
color: #FFFFFF;
padding-top: 45%;
}
.top-scores-requirements2{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
}
.Ellipse{
width: 40px;
height: 40px;
}
body {
padding-top: 20px;
background: #f5f7f8;
}

.side {
display: grid;
width: 100%;
max-width: 750px;
margin: 10 auto;
grid-template-columns: repeat(12, 1fr);
grid-gap: 1px;
}
.side div {
color: white;
font-size: 20px;
padding: 1px;
}
.item-11 {
grid-column: 3/14;
background: rgba(255, 255, 255, 0.08);
}
.item-22 {
grid-column: 1/10;
background: rgba(255, 255, 255, 0.08);
}
.item-33 {
grid-column: 3/12;
background: rgba(255, 255, 255, 0.08);
}
.name{
font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
letter-spacing: 2px;
color: #FFB548;
}
.tagname{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: justify;
color: #FFFFFF;
opacity: 0.5;
}
.image-tagname{
height: auto;
width: auto;
}
.newsletter{
background-image: url("../image/newsletter.jpg");
background-size: 1441px;
width: 1441.62px;
height: 870.26px;
}
.endpage {
display: grid;
width: 100%;
max-width:  1341px;
margin: 0 auto;
grid-template-columns: repeat(2, 1fr);
grid-gap: 1px;
padding-top: 5pc;
}
.endpage div {
color: white;
font-size: 20px;
padding: 1px;
border: 1px;
}
.endpageitem-1 {
}
.endpageitem-2 {
}
.endpageitem-3 {
  grid-column: 1/3;
}
.endpageitem-4 {
  grid-column: 1/3;
}
.image-Group-3{
  width: 300.47px;
  height: 500.41px;
  margin-left: 20%;
}
.endpage-conten1{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding-right: 55%;
}
.endpage-conten2{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 75px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.endpage-conten3{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.boxemail{
  width: 366.92px;
  height: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px; 
}
.boxemail1{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  padding-left: 5%;
  color: #FFFFFF;
}
.boxemail2{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding-left: 5%;
  color: #FFB548; 
  margin-right: 5%;
}
.email{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
}
.footer{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footerimage{
  height: 18.99px;
  left: 1076.52px;
}
.flexboxfooter{
  display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
}
.copyright{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
}
.copyright-conten1{
  width: 339.88px;
  height: 21.9px;
  left: calc(50% - 339.88px/2 - 430.83px);
  top: calc(50% - 21.9px/2 + 58.25px);
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.copyright-conten1{
width: 443.29px;
height: 21.4px;
left: calc(50% - 443.29px/2 + 377.25px);
top: calc(50% - 21.4px/2 + 60.23px);
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 16px;
text-align: right;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}
.descriprion1{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;  
}
.descriprion2{
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
}




.imageplay-batu{
  width: 128px;
  height: 92px;
  border-radius: 30px;
}
.imageplay-kertas{
  width: 115px;
  height: 150px;
  border-radius: 30px;
}
.imageplay-gunting{
  width: 134px;
  height: 160px;
  border-radius: 30px;
}
.vs{
  font-family: 'Open Sans';
  font-style: normal;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: #4C9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  font-size: 38px;
}
.com {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.gunting:hover {
  border: 1px red solid;
}
.game-mode {
  display: flex;
  width: 100vw;
  height: 800px;
  align-items: center;
  justify-content: center;
  gap: 150px;
  background-color: #9C835F;
}
.player-1 > img {
  cursor: pointer;
}
.result {
  width: 100px;
  height: 50px;
  text-align: center;
}
.refresh{
  margin-top: 10pc;
  width: 77px;
  height: 71px;
  left: 681px;
  top: 843px;
}
.logo1{
  width: 18px;
  height: 20px;
  left: 37px;
  top: 12px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
}
.result > h1 {
  margin: auto;
}
.arow{
  width: 18px;
  height: 20px;
  left: 37px;
  top: 12px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
}
.player-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}